TravelInformationProject/TravelInformationProject/Service References/SolarRef/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.12.43:8001/solarservice/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolarEnergyEstimation" />
  <xs:element name="getSolarIntensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolarEnergyEstimation" minOccurs="0" name="inData" nillable="true" type="q1:inputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolarIntensityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SolarEnergyEstimation" minOccurs="0" name="getSolarIntensityResult" nillable="true" type="q2:SolarEnergyInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>