TravelInformationProject/TravelInformationProject/Service References/weatherRef/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.12.43:8001/WeatherForecasting/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherForecasting" />
  <xs:element name="getWeatherForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWeatherForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherForecasting" minOccurs="0" name="getWeatherForecastResult" nillable="true" type="q1:ForecastInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>